/* Arquivo: assets/css/onlineSO/components/boot.css */

#boot-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-family: 'Tahoma', sans-serif;
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

#boot-screen.hidden {
    opacity: 0;
    pointer-events: none;
}

.boot-logo {
    width: 70%;
    max-width: 400px;
    margin-bottom: 30px;
}

.boot-percentage {
    color: #AAAAAA;
    font-size: 16px;
    margin-bottom: 8px;
    height: 20px;
    font-family: 'Perfect DOS VGA', monospace;
}

.boot-loader-bar {
    width: 300px;
    height: 24px;
    background-color: var(--color-win98-grey);
    border: 2px inset var(--color-win98-grey);
    padding: 3px;
    box-sizing: border-box;
}

.boot-loader-progress {
    width: 0%;
    height: 100%;
    background-color: var(--color-win98-header-blue);
    transition: width 0.1s linear;
}

.boot-copyright {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px; 
    color: #AAAAAA;
    white-space: nowrap;
}

/* MUDANÇA: Adicionada media query para corrigir posição do copyright em telas pequenas */
@media (max-width: 768px) {
    .boot-copyright {
        position: static; /* Volta ao fluxo normal do flexbox */
        transform: none;  /* Reseta a transformação horizontal */
        margin-top: 25px; /* Adiciona espaço acima */
    }
}