<!-- hero area -->
<section class="hero-area bg-primary" id="parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white font-tertiary">{{ site.data.settings.hero.hero-title }}</h1>
        <h1 class="text-white font-tertiary write">Desenvolvedor</h1>
      </div>
    </div>
  </div>
  <div class="layer-bg w-100">
    <img class="img-fluid w-100" src="{{ site.baseurl }}/assets/images/illustrations/leaf-bg.png" alt="bg-shape">
  </div>
  <div class="layer" id="l2">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-cyan.png" alt="bg-shape">
  </div>
  <div class="layer" id="l3">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l4">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l5">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-yellow.png" alt="bg-shape">
  </div>
  <div class="layer" id="l6">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan.png" alt="bg-shape">
  </div>
  <div class="layer" id="l7">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l8">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-pink-round.png" alt="bg-shape">
  </div>
  <div class="layer" id="l9">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan-2.png" alt="bg-shape">
  </div>
  <!-- social icon -->
  <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
    {% for social in site.data.settings.social %}
    <li class="mb-3"><a class="text-white" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
    {% endfor %}
  </ul>
  <!-- /social icon -->
</section>
<!-- /hero area -->
<script>
  function typeWriterEffect(elemento, texto) {
    const textoArray = texto.split('');

    for (let i = 0; i < textoArray.length; i++) {
      setTimeout(function () {
        elemento.innerHTML += textoArray[i];
      }, 100 * i  );
    }

    setTimeout(function () {
      const textoArrayReversed = elemento.innerHTML.split('');

      for (let i = textoArrayReversed.length - 1; i >= 0; i--) {
        setTimeout(function () {
          textoArrayReversed.pop();
          elemento.innerHTML = textoArrayReversed.join('');
        }, 100 * (textoArrayReversed.length - i));
      }
    }, 2500);
  }

  const elemento = document.querySelector('.write');
  const texto = ['Olá,', 'Mundo!', 'Bem-vindo(a)!', 'Chatbot', 'JavaScript'];

  function loopTypeWriter() {
    for (let i = 0; i < texto.length; i++) {
      setTimeout(function () {
        elemento.innerHTML = '';
        typeWriterEffect(elemento, texto[i]);
      }, 2500 * i);
    }

    setTimeout(loopTypeWriter, 2500 * texto.length);
  }

  loopTypeWriter();
</script>

<style>
  h1::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
  }

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }
</style>