body {
    margin: 0px;
    padding: 40px 0 400px 0;
    background: #1b1d20;
}

h1, h2, a {
    font-family: "Rubik", Helvetica, Arial, sans-serif;
    color: white;
    font-weight: normal;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

p {
    font-family: "IBM Plex Mono", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #b0b2b3;
}

section {
    max-width: 600px;
    margin: 80px auto;
    padding: 0 20px;
}

h2::before {
    content: '';
    display: inline-block;
    height: 18px;
    width: 3px;
    border-radius: 5px;
    margin-right: 10px;
    background-image: linear-gradient(#DDFF01, #2e0);
}

section > div {
    margin: 0 20px;
}

/* Estilos para as seções */
section {

}

.about {

}

.education {

}

.skills {

}

.projects {

}

.portfolio {

}