html {
    scroll-behavior: smooth;

    scroll-snap-type: y mandatory;
}

body {

}

.container{

    scroll-snap-align: start;
    height: 100vh;
    font-size: 30px;
    font-weight: bold;
}


.section {

    scroll-snap-align: start;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    font-weight: bold;
}

