/* assets/css/base/typography.css
 * Define estilos de fonte e tipografia globais.
 */

/* ===== IMPORTAÇÃO DE FONTES ===== */
@font-face {
    font-family: 'Tahoma';
    src: url('../../fonts/Tahoma.otf') format('opentype');
    font-weight: normal;
    font-display: swap; /* Melhora o carregamento da fonte (evita Flash of Unstyled Text) */
}

body {
    font-family: var(--font-family-system);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-dark); /* Cor de texto padrão, pode ser sobrescrita */
}

/* Regras para evitar seleção de texto para elementos interativos que não precisam dela */
.desktop-icon,
.window-header,
.window-control,
.menu-button,
.taskbar-app {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}